{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ajouter un compte du directeur de l'etablissement</title>
        
        <link rel="stylesheet" href="{% static 'style.css' %}">
        
    </head>
    <body>
        <form method="post">
            {% csrf_token%}
        <div class="bdt">
            <div class="db">
                <div style="width: 20PX;height: 20PX;background-color: rgb(251, 255, 7);border-radius: 50%;margin-bottom: -50PX;"></div>
                <h1>Ajouter un compte</h1>
                
                <p class="error {{padding_class}}" id="error"   >{{error}}</p>
                
                
                <p class="titre">Informations d'admin.</p>
                <hr>
              <div class="dbde">
                
                  <input type="text" name="nom" placeholder="Nom">
                  <br>
                  <input type="text" name="prenom" placeholder="Prénom">
                  <br>
                  <label for="dateden" style="margin-left:9PX;font-family:Yu Gothic UI Semibold;color: azure;">Date de naissance</label>
                  <br>
                  <input type="date" name="date_naissance">
                  <br>
                  <input type="text" name="telephone" placeholder="Numero de telephone">
                  <br>
                  <label style="font-family: Bahnschrift SemiBold Condensed;color: rgb(218, 222, 203);">
                      <input type="radio" value="Masculin" id="Masculin" name="gender">
                      Masculin
                  </label>
                  <br>
                  <label style="font-family: Bahnschrift SemiBold Condensed;color: rgb(218, 222, 203);">
                    <input type="radio" value="Feminin" id="Feminin" name="gender">
                    Feminin
                  </label>
                  <br>
                  <input type="email" name="email" placeholder="Email">
                  <br>
                  <input type="text" name="nom_de_hopital" placeholder="Nom de l'hopital">
                  <br>
              </div>
             <div class="dbde">
              <div>
                    <p class="titre">Informations de compte.</p>
                    <hr>
                    <input type="text" placeholder="Nom d'utilisateur" name="username">
                    <br>
                    <input type="password" placeholder="Mot de passe" name="password">
                    <br>
                    <input type="password" placeholder="Confirmation du mot passe" name="confirm_password">
                </div>
              </div>
            <button type="submit" id="btn">Connexion</button>
            </div>
        </div>
        </form>
        
    </body>
</html>